<style>
    .container{
        margin-top: 40px;
    }

</style>

<div class="container">

    @*<img src="~/images/whatsapp_logo_icon.png" alt="Fale conosco" />*@ 
    
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer</h3>
        <br />
        <p>
            Se você tiver alguma dúvida ou sugestão fale conosco
        </p>
  
        <p>
            <div>
                <span>
                    <img src="~/images/email.png" />
                </span>
            </div>
            <h5><email endereco="luis@gmail.com" conteudo="Enviar um e-mail" style="color:white"></email></h5>
            <br />
            <span>
                <img src="~/images/whatsapp_logo_icon.png" />
            </span>
            <h5><a href="https://wa.me/5511997719079" target="_blank" style="color:white;">(11) 99771-9079</a></h5>
            <br />
            <span>
                <img src="~/images/Home-iconred.png" />
            </span>
            <h5>Av. Juscelino Kubichek 1000 03540-550 São Paulo</h5> -
        </p>
    </div>
    
</div>