@model AdminAlterarSenhaViewModel

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style>
        h4 {
            color: white;
        }

        form {
            color: white;
        }

        img {
            margin-top: 20px;
        }

        table.table {
            border-collapse: collapse;
        }

            table.table, table.table td {
                border: 0;
            }

        .mensagem {
            margin-top: 25px;
        }
    </style>
</head>
<body>
    <div class="mensagem">
        @if (TempData["Mensagem"] != null)
        {
            <div class="alert alert-success">
                @TempData["Mensagem"]
            </div>
        }
    </div>
    <table class="table">
        <tr>
            <td>
                <div class="row">
                    <div class="col-10 col-md-10 col-lg-10">
                        <h4>Alterar senha</h4>
                        <form asp-area="Admin" asp-controller="Admin" asp-action="AdminAlterarSenhaView" method="post">

                            @*<div asp-validation-summary="All" class="text-danger"></div>*@

                            <div class="form-group" style="margin-top: 15px; width: 55%;">
                                <label asp-for="AdminPasswordNow"></label>
                                <input asp-for="AdminPasswordNow" class="form-control" id="AdminPasswordNow" />
                                <input type="checkbox" style="margin-top:8px" onclick="AdminMostrarSenhaAtual()" /> Mostrar senha
                                <span asp-validation-for="AdminPasswordNow" class="text-danger"></span>
                            </div>

                            <div class="form-group" style="margin-top: 15px; width: 55%;">
                                <label asp-for="AdminPasswordNew"></label>
                                <input asp-for="AdminPasswordNew" class="form-control" id="AdminPasswordNew" />
                                <input type="checkbox" style="margin-top:8px" onclick="AdminMostrarNovaSenha()" /> Mostrar senha
                                <span asp-validation-for="AdminPasswordNew" class="text-danger"></span>
                            </div>

                            <div class="form-group" style="margin-top: 15px; width: 55%;">
                                <label asp-for="AdminPasswordNewConfirm"></label>
                                <input asp-for="AdminPasswordNewConfirm" class="form-control" id="AdminPasswordNewConfirm" />
                                <input type="checkbox" style="margin-top:8px" onclick="AdminMostrarNovaSenhaConfirm()" /> Mostrar senha
                                <span asp-validation-for="AdminPasswordNewConfirm" class="text-danger"></span>
                            </div>
                            <br />
                            <div class="form-group">
                                <input type="submit" class="btn btn-success " value="Salvar" />
                                <br />
                                <br />
                                <a class="btn btn-primary" asp-area="Admin" asp-controller="Admin" asp-action="Index">
                                    Voltar
                                </a>
                            </div>
                        </form>

                        <br />
                        @if (!ViewData.ModelState.IsValid)
                        {
                            <div class="alert alert-danger">
                                <ul>
                                    @foreach (var state in ViewData.ModelState)
                                    {
                                        foreach (var error in state.Value.Errors)
                                        {
                                            <li>@error.ErrorMessage</li>
                                        }
                                    }
                                </ul>
                            </div>
                        }
                    </div>
                </div>
            </td>
        <tr>
    </table>

    <script src="~/js/site.js"></script>
</body>
</html>