
<img style="margin-top: 30px;" src="~/images/Admin.png" alt="Àrea de Administração" class="marginTop1" />
<div class="container">
    <div class="jumbotron">
        <p>
            <h2>Área do Administrador</h2>
        </p>
    </div>
</div>