<img style="margin-top: 30px;" src="~/images/area-restrita.png" />
<div class="container">
    <div class="jumbotron">
        <p>
            <h2>Acesso não autorizado</h2>
        </p>
    </div>
    <a style="color:white" asp-area="" asp-controller="Roupa" asp-action="List">Voltar a Home Page</a>
</div>